<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [2]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
tmpfile    = "banktemp.tmp"              
logfile    = "banklogfile.txt"           
targetfile = "banktransformed_data.csv"

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [58]:
def extract():
    # Write your code here
    extracted_data = pd.DataFrame()
    
    for jsonfile in glob.glob("bank_market_cap.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
        
        
    return extracted_data

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [15]:
# Write your code here
df = pd.read_csv("exchange_rates_1.csv", index_col=0)
df

     success            timestamp       rates
AED     True  2023-07-13 02:12:03    4.092728
AFN     True  2023-07-13 02:12:03   95.097154
ALL     True  2023-07-13 02:12:03  104.044385
AMD     True  2023-07-13 02:12:03  428.071088
ANG     True  2023-07-13 02:12:03    1.987203

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [16]:
exchange_rate = 0.856957

In [60]:
def transform(data):
    # Write your code here
    data["Market Cap (US$ Billion)"] = round(data["Market cap (US$ billion)"]*exchange_rate, 3)
    data['Market Cap (GBP$ Billion)'] = data["Market cap (US$ billion)"].copy()
    del data["Market cap (US$ billion)"]
    return data

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [20]:
def load(targetfile,data):
    # Write your code here
    data.to_csv(targetfile, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [21]:
def log(message):
    # Write your code here
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("banklogfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [22]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [59]:
# Call the function here
extracted_data = extract()
# Print the rows here
extracted_data

C:\Users\antvi\AppData\Local\Temp\ipykernel_37248\335679002.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)

    Rank                                Bank name  Market cap (US$ billion)
0      1                           JPMorgan Chase                   390.934
1      2  Industrial and Commercial Bank of China                   345.214
2      3                          Bank of America                   325.331
3      4                              Wells Fargo                   308.013
4      5                  China Construction Bank                   257.399
..   ...                                      ...                       ...
65    66                             Ping An Bank                    37.993
66    67                       Standard Chartered                    37.319
67    68                     United Overseas Bank                    35.128
68    69                                QNB Group                    33.560
69    70                              Bank Rakyat                    33.081

[70 rows x 3 columns]

Log the data as <code>"Extract phase Ended"</code>

In [35]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [36]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [61]:
# Call the function here
transformed_data = transform(extracted_data)
# Print the first 5 rows here
transformed_data

,Rank,Bank name,Market Cap (US$ Billion),Market Cap (GBP$ Billion)
0,1,JPMorgan Chase,335.014,390.934
1,2,Industrial and Commercial Bank of China,295.834,345.214
2,3,Bank of America,278.795,325.331
3,4,Wells Fargo,263.954,308.013
4,5,China Construction Bank,220.580,257.399
...,...,...,...,...
65,66,Ping An Bank,32.558,37.993
66,67,Standard Chartered,31.981,37.319
67,68,United Overseas Bank,30.103,35.128
68,69,QNB Group,28.759,33.560
69,70,Bank Rakyat,28.349,33.081

Log your data <code>"Transform phase Ended"</code>

In [62]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [63]:
# Write your code here
log("Load phase Started")

Call the load function

In [64]:
# Write your code here
load(targetfile,transformed_data)

Log the following `"Load phase Ended"`.

In [65]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).